@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight:bold;
    font-display: swap;
    src: url("../fonts/fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight:500;
    font-display: swap;
    src: url("../fonts/fonts/oswald-v41-latin-500.woff2") format("woff2"),
        url("../fonts/fonts/oswald-v41-latin-500.woff") format("woff");
}
 
 *
 *::before
 *::after{
     box-sizing: border-box;
 }

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'giroy', 'Arial', sans-serif;
    margin: 0;
    padding: 0 ;
}

 .container {
     max-width: 1224px;
     padding: 0px 50px;
     margin: 0 auto;
 }

 .header_top {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #eeeeee;
     padding-top: 17px;
     padding-bottom: 17px;
 }

 .header_top-left {
     display: flex;
     align-items: center;
 }

 .header_top-text {
     display: flex;
     align-items: center;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 15px;
 }

.header_top-text::before{
    content: '';
    width: 13px;
    height: 16px;
    display: block;
    background-image: url(../image/location.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

 .header_top-link {
     display: flex;
     text-decoration: none;
     color: #000000;
     margin-left: 30px;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 15px;
 }

 .header_top-link::before {
    content: '';
    width: 20px;
    height: 16px;
    display: block;
    background-image: url(../image/mail.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 9px;
}

.header_top-right {
    display: flex;
    align-items: center;
}

.select {
    margin-right: 30px;
    border: none;
}

.option {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;

}

.top_right-right {
    display: flex;
    gap: 20px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 46px;
}

.bottom-list {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 29px;
}

.bottom-link {
    text-decoration: none;
    color: #000000;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.bottom-link:hover {
    color: #76A713;
}

.bottom-link_one {
    text-decoration: none;
    color: #76A713;   
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.bottom-login {
    display: flex;
    align-items: center;
}

.login-link {
    text-decoration: none;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #76A713;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.login-link:hover {
    background-color: aqua;
    color: red;
}

.search-btn {
    display: inline-block;
    background-image: url(../image/search.png);
    width: 40px;
    height: 40px;
    color: #eeeeee;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    margin-left: 10px;
}

.korzinka-btn {
    display: inline-block;
    background-image: url(../image/korzinka.png);
    width: 40px;
    height: 40px;
    color: #eeeeee;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    margin-left: 10px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    background-color: rgba(118, 167, 19, 0.31);
}

.body-hero {
    margin-top: 2px;
}

.body-left {
position: absolute;
left: 120px;
}


.body-head {
    width: 330px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 50px;
    line-height: 74px;
}

.body-head-small {
    color: #76A713;
}

.body-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 16px 38px;
    background-color: #76A713;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;    
}

.body-link:hover{
    background-color: aqua;
    color: red;
}

.bcgr-img {
    width: 684px;
    height: 440px;
    margin-left:620px;
    background-image: url(../image/fondue-food-tomato-garlic-italian-cuisine-garlic-a8c5731a222b7794b55ceb6847cdffca\ 1\ \(1\).png);
}

.arrow-left {
    display: inline-block;
    background-image: url(../image/Arrow1.png);
    width: 40px;
    height: 40px;
    background-color: #76A713;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    position: absolute;
    left: 45px;
    top:410px;
    margin-top: 130px;
    margin-left: -15px;
}

.arrow-right {
    display: inline-block;
    background-image:url(../image/arrow-right.png);
    width: 40px;
    height: 40px;
    background-color: rgba(118, 167, 19, 0.31);
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid #76A713;
    position: absolute;
    right: 45px;
    bottom: 170px;
    margin-top: -148px;
    margin-left: 1155px;
}

.section_one {
    width: 1170px;
    background-color: #ffffff;
    margin-left: 130px;
    margin-top: -95px;
    background: #FFFFFF;
    border: 1.5px solid #DDDDDD;
    box-sizing: border-box;

}

.section-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between; 
    margin: 70px 40px;
}


.item-one::before {
    content: '';
    width: 60px;
    height: 40px;
    display: block;
    background-image: url(../image/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -70px;
    margin-bottom: -65px;
}

.item-two::before {
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../image/home.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -70px;
    margin-bottom: -75px;
}

.item-three::before {
    content: '';
    width: 60px;
    height: 54px;
    display: block;
    background-image: url(../image/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -70px;
    margin-bottom: -75px;
}

.item-four::before{
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../image/XMLID_295_.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -70px;
    margin-bottom: -75px;
}

.section-head {
    margin: 0 auto;
    margin-bottom: 6px;
    margin-top: 15px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;    
}

.section-text{
    margin: 0;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
}

.item-span, line {
    width: 1px;
    height: 60px;
    background-color: #dddddd;
    margin-left: -80px;
    border: 2px;
}